# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite (legacy)
db.sqlite3

# Django stuff
*.log
*.pot
*.pyc

# Env vars
.env
*.env
.env.*
venv/
.venv/

# VS Code
.vscode/

# Compiled migrations cache
**/migrations/__pycache__/

# Pipenv
Pipfile.lock

# System
.DS_Store
Thumbs.db
